<div class="form-group">
  <label for="country">Seleccione un pais</label>
  <select class="form-control form-control-lg" id="country" 
  [(ngModel)]="opcionSeleccionado" (change)="capturar()"
  
  >
    <option value="">Elija...</option>
    <option  [value]="pais.name.common"
     *ngFor="let pais of paises " 
     data-style="background-image:url(https://cdn.countryflags.com/thumbs/portugal/flag-800.png);">
      {{pais.name.common}}
    </option>
  </select>



  <br>
  <img id="pic-1"   [src]="banderaElegida">
</div>